{% extends "base.html" %}

{% block content %}
  <div class="container mt-4">
    <h2>{{ titulo }}</h2>

    {% if search_query %}
      <p>Resultados para: <strong>{{ search_query }}</strong></p>
    {% endif %}

    <ul class="list-group">
      {% for persona in personas %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ persona.nombre }}
          <a href="{% url 'persona:detalle' persona.pk %}" class="btn-smw-100" style="background-color: #9a0695ff; color: white"">
            Ver detalle
          </a>
        </li>
      {% empty %}
        <li class="list-group-item">No se encontraron resultados.</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}